.secMeet {

    @include container(95%, 0);

    h2 {
        font-size: pixels-rem(25);
        margin-top: pixels-rem(10);
        padding: pixels-rem(10);
        font-weight: 300;
        border-bottom: 1px dotted $bg;
    }

    .divRoot {
        margin-top: pixels-rem(15);
        font-weight: 400;

        a {
            text-decoration: none;
            color: $font-col;
        }

    }


    @include img-front();

    h3 {
        font-size: pixels-rem(20);
        font-weight: 400;
        text-align: left;
        color: $bg;
        margin: pixels-rem(30) 0;
    }

    .divMeetPeople {        
        @import './components/People';        
    }
}


@media screen and ($bp-mobile-landscape) {

    .secMeet {
        .divMeetPeople {
            display: grid;
            column-gap: 10px;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and ($bp-tablet) {

    .secMeet {
        .divMeetPeople {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}