.secRelations {

    @include container(95%, 0);

    h2 {
        font-size: pixels-rem(25);
        margin-top: pixels-rem(10);
        font-weight: 300;
        padding: pixels-rem(10);
        border-bottom: 1px dotted $bg;
    }

    .divRoot {
        margin-top: pixels-rem(15);
        font-weight: 400;

        a {
            text-decoration: none;
            color: $font-col;
        }

    }


    @include img-front();

    .divGridPeople {
        @import './components/BigPeople';
    }

}


@media screen and ($bp-mobile-landscape) {

    .secRelations {
        .divGridPeople {
            display: grid;
            column-gap: 10px;
            grid-template-columns: 1fr 1fr;            
        }
    }
}