
.divChatBox {
    
    position: fixed;
    right: 0;
    top: 0;
    padding: pixels-rem(5);
    // box-shadow: 0 0 5px 1px black;
    width: 260px;
    // left: 0;
    // margin-top: pixels-rem(10);
    background-color: $bg;
    // grid-column: 2 / 3;
    // grid-row: 1 / 100;
    // height: 100%;
    height: 59vh;

    transform: translate3d(-105%, 0px, 0px);
    transition: transform 0.20s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    z-index: 900;

    // height: pixels-rem(300);
    @include border($bg-font-col, 5);

    p {
        padding: pixels-rem(5);
        @include border($bg, 5);
        background-color: $bg-font-col;

        font-size: pixels-rem(15);
    }

    div {
        min-height: 50vh;
        // overflow-y: scroll;
        background-color: #fafafa;
        margin: 2px auto;

        table {

            // @include border($bg, 5);            

            @include container(98%, 0);

            tbody {

                tr {
                    width: 100%;

                    .chat-spc {
                        padding-bottom: pixels-rem(5);
                    }


                    .chat-name {
                        font-size: pixels-rem(20);
                        font-weight: bold;
                        padding-bottom: pixels-rem(5);
                    }

                    .chat-date {
                        font-size: pixels-rem(9);
                        color: $prof-text;
                    }

                    .chat-msg {
                        font-size: pixels-rem(17);
                        color: $user-name;
                    }


                    .chLeft {
                        text-align: left;
                    }

                    .chRight {
                        text-align: right;
                    }

                }

            }
        }
    }

    form {

        @include border($bg, 5);
        background-color: $bg-font-col;

        @include grid(0.8fr 0.2fr, center, center, 1, 2);

        input {
            padding: pixels-rem(3);
        }

    }


}

.divChatBox.mostrarChatBox {
    transform: translate3d(0px, 0px, 0px);
}