.divChatBox {

    padding-bottom: pixels-rem(1);

    .gridChatContainer {
        @include container(98%, 0);
        margin: pixels-rem(10) auto;
        background-color: $chat-bg;
        @include border($border, 5);
        box-shadow: 2px 2px 10px $border;
        border-radius: pixels-rem(10);
        padding: pixels-rem(5);


        .pChatName {
            padding: pixels-rem(5);
            @include border($bg, 5);
            background-color: $bg-font-col;
            font-size: pixels-rem(20);
        }

        .chatTable {
            display: block;
            @include border($bg, 5);
            min-height: 120px;
            @include container(98%, 5);
            background-color: $chat-msgs-bg;
            max-height: 280px;
            width: 100%;
            padding: pixels-rem(5);
            overflow-y: scroll;

            .chat-spc {
                padding-bottom: pixels-rem(5);
            }

            .chat-name {
                font-size: pixels-rem(20);
                font-weight: 400;
                padding-bottom: pixels-rem(5);
            }

            .chat-date {
                font-size: pixels-rem(9);
                color: $prof-text;
                font-weight: 300;
            }

            .chat-msg {
                font-size: pixels-rem(17);
                color: $user-name;
                font-weight: 300;
            }

            .chLeft {
                text-align: left;                
            }

            .chRight {
                text-align: right;                
            }
        }

        form {

            @include border($bg, 5);
            background-color: $bg-font-col;

            @include grid(0.8fr 0.2fr, left, center, 2, 2);

            input {
                padding: pixels-rem(8) pixels-rem(5);
                @include border($border, 5);
                width: 100%;
            }

            input[type="submit"] {
                @include boton();
            }

        }
    }


}

.divChatBox.mostrarChatBox {
    transform: translate3d(0px, 0px, 0px);
}