// @import '../../../base/settings';

.secUserFriends {
    // @include flexbox(left, row, 0);
    // flex-wrap: wrap;
    // background-color: $bg-chat;
    // @include grid(auto, center, start, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);        
    border-top-right-radius: pixels-rem(15);
    border-bottom-right-radius: pixels-rem(15);
    border: 1px solid rgb(79, 210, 242);
    width: 100px;

    article {
        // grid-column: 1 / 2;        
        cursor: pointer;
        width: 100%;

        @import './LittlePeople';
    }

    .divBtnsChat {
        text-align: center;

        button {
            @include boton-ico(prof-btn);
            font-size: pixels-rem(20);
        }

        button:hover {
            @include boton-ico-hover();
        }
    }

    @import './ChatBox';

}