.secUserFriends {

    background-color: rgba(0, 0, 0, 0.7);
    border-top-right-radius: pixels-rem(15);
    border-bottom-right-radius: pixels-rem(15);
    border: 1px solid rgb(79, 210, 242);
    width: 100px;

    .artFriends {        
        width: 100%;

        @import './LittlePeople';

        .divLittlePeople {
            .pLPName {
                color: $frnd-font;
            }
        }
    }

    .divBtnsChat {
        text-align: center;

        button {
            @include boton-ico($frnd-ico);
            font-size: pixels-rem(20);
        }

        button:hover {
            @include boton-ico-hover();
        }
    }

}